@font-face {
  font-family: 'LineIcons';
  src:  url('../fonts/LineIcons.eot?y2l643');
  src:  url('../fonts/LineIcons.eot?y2l643#iefix') format('embedded-opentype'),
    url('../fonts/LineIcons.ttf?y2l643') format('truetype'),
    url('../fonts/LineIcons.woff?y2l643') format('woff'),
    url('../fonts/LineIcons.svg?y2l643#LineIcons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="lni-"], [class*=" lni-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'LineIcons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lni-angle-double-down::before {
  content: "\ea11";
}
.lni-angle-double-left::before {
  content: "\ea12";
}
.lni-angle-double-right::before {
  content: "\ea13";
}
.lni-angle-double-up::before {
  content: "\ea14";
}
.lni-arrow-down-circle::before {
  content: "\ea1b";
}
.lni-arrow-down::before {
  content: "\ea1c";
}
.lni-arrow-left-circle::before {
  content: "\ea1d";
}
.lni-arrow-left::before {
  content: "\ea1e";
}
.lni-arrow-right-circle::before {
  content: "\ea20";
}
.lni-arrow-right::before {
  content: "\ea21";
}
.lni-arrow-top-left::before {
  content: "\ea22";
}
.lni-arrow-top-right::before {
  content: "\ea23";
}
.lni-arrow-up-circle::before {
  content: "\ea24";
}
.lni-arrow-up::before {
  content: "\ea25";
}
.lni-arrows-horizontal::before {
  content: "\ea26";
}
.lni-arrows-vertical::before {
  content: "\ea27";
}
.lni-backward::before {
  content: "\ea2b";
}
.lni-bi-cycle::before {
  content: "\ea32";
}
.lni-cake::before {
  content: "\ea4c";
}
.lni-calendar::before {
  content: "\ea4e";
}
.lni-candy-cane::before {
  content: "\ea50";
}
.lni-candy::before {
  content: "\ea51";
}
.lni-car-alt::before {
  content: "\ea53";
}
.lni-car::before {
  content: "\ea54";
}
.lni-cart-full::before {
  content: "\ea56";
}
.lni-cart::before {
  content: "\ea57";
}
.lni-check-box::before {
  content: "\ea59";
}
.lni-checkmark-circle::before {
  content: "\ea5a";
}
.lni-checkmark::before {
  content: "\ea5b";
}
.lni-chevron-down-circle::before {
  content: "\ea5d";
}
.lni-chevron-down::before {
  content: "\ea5e";
}
.lni-chevron-left-circle::before {
  content: "\ea5f";
}
.lni-chevron-left::before {
  content: "\ea60";
}
.lni-chevron-right-circle::before {
  content: "\ea61";
}
.lni-chevron-right::before {
  content: "\ea62";
}
.lni-chevron-up-circle::before {
  content: "\ea63";
}
.lni-chevron-up::before {
  content: "\ea64";
}
.lni-circle-minus::before {
  content: "\ea67";
}
.lni-circle-plus::before {
  content: "\ea68";
}
.lni-clipboard::before {
  content: "\ea69";
}
.lni-close::before {
  content: "\ea6a";
}
.lni-coffee-cup::before {
  content: "\ea76";
}
.lni-credit-cards::before {
  content: "\ea86";
}
.lni-cross-circle::before {
  content: "\ea88";
}
.lni-delivery::before {
  content: "\ea90";
}
.lni-envelope::before {
  content: "\eaae";
}
.lni-exit-down::before {
  content: "\eab1";
}
.lni-exit-up::before {
  content: "\eab2";
}
.lni-exit::before {
  content: "\eab3";
}
.lni-eye::before {
  content: "\eab4";
}
.lni-facebook-filled::before {
  content: "\eab5";
}
.lni-facebook-messenger::before {
  content: "\eab6";
}
.lni-facebook-original::before {
  content: "\eab7";
}
.lni-facebook-oval::before {
  content: "\eab8";
}
.lni-facebook::before {
  content: "\eab9";
}
.lni-forward::before {
  content: "\eac6";
}
.lni-frame-expand::before {
  content: "\eac7";
}
.lni-fresh-juice::before {
  content: "\eac8";
}
.lni-gift::before {
  content: "\eacf";
}
.lni-grid-alt::before {
  content: "\eada";
}
.lni-headphone-alt::before {
  content: "\eae3";
}
.lni-headphone::before {
  content: "\eae4";
}
.lni-heart-filled::before {
  content: "\eae5";
}
.lni-heart::before {
  content: "\eae7";
}
.lni-helicopter::before {
  content: "\eae8";
}
.lni-help::before {
  content: "\eaea";
}
.lni-home::before {
  content: "\eaed";
}
.lni-image::before {
  content: "\eaf1";
}
.lni-information::before {
  content: "\eaf7";
}
.lni-instagram-filled::before {
  content: "\eaf8";
}
.lni-instagram-original::before {
  content: "\eaf9";
}
.lni-instagram::before {
  content: "\eafa";
}
.lni-keyword-research::before {
  content: "\eb09";
}
.lni-line-dashed::before {
  content: "\eb13";
}
.lni-line-dotted::before {
  content: "\eb14";
}
.lni-line-double::before {
  content: "\eb15";
}
.lni-line-spacing::before {
  content: "\eb16";
}
.lni-list::before {
  content: "\eb1d";
}
.lni-magnifier::before {
  content: "\eb22";
}
.lni-map-marker::before {
  content: "\eb24";
}
.lni-map::before {
  content: "\eb25";
}
.lni-mastercard::before {
  content: "\eb28";
}
.lni-menu::before {
  content: "\eb2a";
}
.lni-minus::before {
  content: "\eb30";
}
.lni-mobile::before {
  content: "\eb31";
}
.lni-more-alt::before {
  content: "\eb34";
}
.lni-more::before {
  content: "\eb35";
}
.lni-move::before {
  content: "\eb37";
}
.lni-music::before {
  content: "\eb38";
}
.lni-offer::before {
  content: "\eb40";
}
.lni-package::before {
  content: "\eb42";
}
.lni-pagination::before {
  content: "\eb44";
}
.lni-pause::before {
  content: "\eb4a";
}
.lni-paypal-original::before {
  content: "\eb4b";
}
.lni-paypal::before {
  content: "\eb4c";
}
.lni-phone-set::before {
  content: "\eb4f";
}
.lni-phone::before {
  content: "\eb50";
}
.lni-pin::before {
  content: "\eb54";
}
.lni-plane::before {
  content: "\eb57";
}
.lni-play::before {
  content: "\eb59";
}
.lni-plus::before {
  content: "\eb5c";
}
.lni-pointer-down::before {
  content: "\eb5d";
}
.lni-pointer-left::before {
  content: "\eb5e";
}
.lni-pointer-right::before {
  content: "\eb5f";
}
.lni-pointer-top::before {
  content: "\eb60";
}
.lni-pointer::before {
  content: "\eb61";
}
.lni-popup::before {
  content: "\eb62";
}
.lni-protection::before {
  content: "\eb68";
}
.lni-question-circle::before {
  content: "\eb6c";
}
.lni-rain::before {
  content: "\eb70";
}
.lni-reply::before {
  content: "\eb75";
}
.lni-sad::before {
  content: "\eb7f";
}
.lni-search-alt::before {
  content: "\eb85";
}
.lni-search::before {
  content: "\eb86";
}
.lni-share-alt-1::before {
  content: "\eb8a";
}
.lni-share-alt::before {
  content: "\eb8b";
}
.lni-share::before {
  content: "\eb8c";
}
.lni-shift-left::before {
  content: "\eb8e";
}
.lni-shift-right::before {
  content: "\eb8f";
}
.lni-ship::before {
  content: "\eb90";
}
.lni-speechless::before {
  content: "\eba6";
}
.lni-star-empty::before {
  content: "\ebb2";
}
.lni-star-filled::before {
  content: "\ebb3";
}
.lni-star-half::before {
  content: "\ebb4";
}
.lni-star::before {
  content: "\ebb5";
}
.lni-stop::before {
  content: "\ebba";
}
.lni-text-align-left::before {
  content: "\ebcf";
}
.lni-thought::before {
  content: "\ebd2";
}
.lni-thumbs-down::before {
  content: "\ebd3";
}
.lni-thumbs-up::before {
  content: "\ebd5";
}
.lni-ticket-alt::before {
  content: "\ebd8";
}
.lni-ticket::before {
  content: "\ebd9";
}
.lni-tiktok::before {
  content: "\ebda";
}
.lni-twitter-filled::before {
  content: "\ebe8";
}
.lni-twitter-original::before {
  content: "\ebe9";
}
.lni-twitter::before {
  content: "\ebea";
}
.lni-upload::before {
  content: "\ebf0";
}
.lni-user::before {
  content: "\ebf1";
}
.lni-visa::before {
  content: "\ebf7";
}
.lni-wallet::before {
  content: "\ebfe";
}
.lni-warning::before {
  content: "\ebff";
}
.lni-wechat::before {
  content: "\ec02";
}
.lni-weight::before {
  content: "\ec03";
}
.lni-whatsapp::before {
  content: "\ec04";
}
.lni-youtube::before {
  content: "\ec13";
}
.lni-zoom-in::before {
  content: "\ec12";
}
.lni-zoom-out::before {
  content: "\ec14";
}



/* Extra */
span{
  display: inline-block;
}
.lni-spin-effect {
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.lni-spin-effect-hover:hover {
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.lni-tada-effect {
  -webkit-animation: tada 1.5s ease infinite;
  animation: tada 1.5s ease infinite;
}

.lni-tada-effect-hover:hover {
  -webkit-animation: tada 1.5s ease infinite;
  animation: tada 1.5s ease infinite;
}

.lni-flashing-effect {
  -webkit-animation: flashing 1.5s infinite linear;
  animation: flashing 1.5s infinite linear;
}

.lni-flashing-effect-hover:hover {
  -webkit-animation: flashing 1.5s infinite linear;
  animation: flashing 1.5s infinite linear;
}

.lni-burst-effect {
  -webkit-animation: burst 1.5s infinite linear;
  animation: burst 1.5s infinite linear;
}

.lni-burst-effect-hover:hover {
  -webkit-animation: burst 1.5s infinite linear;
  animation: burst 1.5s infinite linear;
}

.lni-fade-up-effect {
  -webkit-animation: fade-up 1.5s infinite linear;
  animation: fade-up 1.5s infinite linear;
}

.lni-fade-up-effect-hover:hover {
  -webkit-animation: fade-up 1.5s infinite linear;
  animation: fade-up 1.5s infinite linear;
}

.lni-fade-down-effect {
  -webkit-animation: fade-down 1.5s infinite linear;
  animation: fade-down 1.5s infinite linear;
}

.lni-fade-down-effect-hover:hover {
  -webkit-animation: fade-down 1.5s infinite linear;
  animation: fade-down 1.5s infinite linear;
}

.lni-fade-left-effect {
  -webkit-animation: fade-left 1.5s infinite linear;
  animation: fade-left 1.5s infinite linear;
}

.lni-fade-left-effect-hover:hover {
  -webkit-animation: fade-left 1.5s infinite linear;
  animation: fade-left 1.5s infinite linear;
}

.lni-fade-right-effect {
  -webkit-animation: fade-right 1.5s infinite linear;
  animation: fade-right 1.5s infinite linear;
}

.lni-fade-right-effect-hover:hover {
  -webkit-animation: fade-right 1.5s infinite linear;
  animation: fade-right 1.5s infinite linear;
}

.size-xs {
  font-size: 1rem !important;
}

.size-sm {
  font-size: 1.55rem !important;
}

.size-md {
  font-size: 2.25rem !important;
}

.size-fw {
  font-size: 1.2857142857em;
  line-height: .8em;
  width: 1.2857142857em;
  height: .8em;
  margin-top: -0.2em !important;
  vertical-align: middle;
}

.size-lg {
  font-size: 3rem !important;
}


@-webkit-keyframes spin
{
    0%
    {
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
    100%
    {
        -webkit-transform: rotate(359deg);
                transform: rotate(359deg);
    }
}
@keyframes spin
{
    0%
    {
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
    100%
    {
        -webkit-transform: rotate(359deg);
                transform: rotate(359deg);
    }
}
@-webkit-keyframes burst
{
    0%
    {
        -webkit-transform: scale(1);
                transform: scale(1);

        opacity: 1;
    }
    90%
    {
        -webkit-transform: scale(1.5);
                transform: scale(1.5);

        opacity: 0;
    }
}
@keyframes burst
{
    0%
    {
        -webkit-transform: scale(1);
                transform: scale(1);

        opacity: 1;
    }
    90%
    {
        -webkit-transform: scale(1.5);
                transform: scale(1.5);

        opacity: 0;
    }
}
@-webkit-keyframes flashing
{
    0%
    {
        opacity: 1;
    }
    45%
    {
        opacity: 0;
    }
    90%
    {
        opacity: 1;
    }
}
@keyframes flashing
{
    0%
    {
        opacity: 1;
    }
    45%
    {
        opacity: 0;
    }
    90%
    {
        opacity: 1;
    }
}
@-webkit-keyframes fade-left
{
    0%
    {
        -webkit-transform: translateX(0);
                transform: translateX(0);

        opacity: 1;
    }
    75%
    {
        -webkit-transform: translateX(-20px);
                transform: translateX(-20px);

        opacity: 0;
    }
}
@keyframes fade-left
{
    0%
    {
        -webkit-transform: translateX(0);
                transform: translateX(0);

        opacity: 1;
    }
    75%
    {
        -webkit-transform: translateX(-20px);
                transform: translateX(-20px);

        opacity: 0;
    }
}
@-webkit-keyframes fade-right
{
    0%
    {
        -webkit-transform: translateX(0);
                transform: translateX(0);

        opacity: 1;
    }
    75%
    {
        -webkit-transform: translateX(20px);
                transform: translateX(20px);

        opacity: 0;
    }
}
@keyframes fade-right
{
    0%
    {
        -webkit-transform: translateX(0);
                transform: translateX(0);

        opacity: 1;
    }
    75%
    {
        -webkit-transform: translateX(20px);
                transform: translateX(20px);

        opacity: 0;
    }
}
@-webkit-keyframes fade-up
{
    0%
    {
        -webkit-transform: translateY(0);
                transform: translateY(0);

        opacity: 1;
    }
    75%
    {
        -webkit-transform: translateY(-20px);
                transform: translateY(-20px);

        opacity: 0;
    }
}
@keyframes fade-up
{
    0%
    {
        -webkit-transform: translateY(0);
                transform: translateY(0);

        opacity: 1;
    }
    75%
    {
        -webkit-transform: translateY(-20px);
                transform: translateY(-20px);

        opacity: 0;
    }
}
@-webkit-keyframes fade-down
{
    0%
    {
        -webkit-transform: translateY(0);
                transform: translateY(0);

        opacity: 1;
    }
    75%
    {
        -webkit-transform: translateY(20px);
                transform: translateY(20px);

        opacity: 0;
    }
}
@keyframes fade-down
{
    0%
    {
        -webkit-transform: translateY(0);
                transform: translateY(0);

        opacity: 1;
    }
    75%
    {
        -webkit-transform: translateY(20px);
                transform: translateY(20px);

        opacity: 0;
    }
}
@-webkit-keyframes tada
{
    from
    {
        -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
    }

    10%,
    20%
    {
        -webkit-transform: scale3d(.95, .95, .95) rotate3d(0, 0, 1, -10deg);
                transform: scale3d(.95, .95, .95) rotate3d(0, 0, 1, -10deg);
    }

    30%,
    50%,
    70%,
    90%
    {
        -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 10deg);
                transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 10deg);
    }

    40%,
    60%,
    80%
    {
        -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, -10deg);
                transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, -10deg);
    }

    to
    {
        -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
    }
}

@keyframes tada
{
    from
    {
        -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
    }

    10%,
    20%
    {
        -webkit-transform: scale3d(.95, .95, .95) rotate3d(0, 0, 1, -10deg);
                transform: scale3d(.95, .95, .95) rotate3d(0, 0, 1, -10deg);
    }

    30%,
    50%,
    70%,
    90%
    {
        -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 10deg);
                transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 10deg);
    }

    40%,
    60%,
    80%
    {
        -webkit-transform: rotate3d(0, 0, 1, -10deg);
                transform: rotate3d(0, 0, 1, -10deg);
    }

    to
    {
        -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
    }
}
.lni-spin-effect
{
    -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
}
.lni-spin-effect-hover:hover
{
    -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
}

.lni-tada-effect
{
    -webkit-animation: tada 1.5s ease infinite;
            animation: tada 1.5s ease infinite;
}
.lni-tada-effect-hover:hover
{
    -webkit-animation: tada 1.5s ease infinite;
            animation: tada 1.5s ease infinite;
}

.lni-flashing-effect
{
    -webkit-animation: flashing 1.5s infinite linear;
            animation: flashing 1.5s infinite linear;
}
.lni-flashing-effect-hover:hover
{
    -webkit-animation: flashing 1.5s infinite linear;
            animation: flashing 1.5s infinite linear;
}

.lni-burst-effect
{
    -webkit-animation: burst 1.5s infinite linear;
            animation: burst 1.5s infinite linear;
}
.lni-burst-effect-hover:hover
{
    -webkit-animation: burst 1.5s infinite linear;
            animation: burst 1.5s infinite linear;
}
.lni-fade-up-effect
{
    -webkit-animation: fade-up 1.5s infinite linear;
            animation: fade-up 1.5s infinite linear;
}
.lni-fade-up-effect-hover:hover
{
    -webkit-animation: fade-up 1.5s infinite linear;
            animation: fade-up 1.5s infinite linear;
}
.lni-fade-down-effect
{
    -webkit-animation: fade-down 1.5s infinite linear;
            animation: fade-down 1.5s infinite linear;
}
.lni-fade-down-effect-hover:hover
{
    -webkit-animation: fade-down 1.5s infinite linear;
            animation: fade-down 1.5s infinite linear;
}
.lni-fade-left-effect
{
    -webkit-animation: fade-left 1.5s infinite linear;
            animation: fade-left 1.5s infinite linear;
}
.lni-fade-left-effect-hover:hover
{
    -webkit-animation: fade-left 1.5s infinite linear;
            animation: fade-left 1.5s infinite linear;
}
.lni-fade-right-effect
{
    -webkit-animation: fade-right 1.5s infinite linear;
            animation: fade-right 1.5s infinite linear;
}
.lni-fade-right-effect-hover:hover
{
    -webkit-animation: fade-right 1.5s infinite linear;
            animation: fade-right 1.5s infinite linear;
}




